{%load static%}
{% load bootstrap5 %}
{% load bootstrap_icons%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiger Car Boutique</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'core/base.css' %}">
</head>
<body>
    {% bootstrap_javascript %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href={% url 'core:lista_vehiculo' %}>Tiger Car Boutique</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            {%bs_icon "list"%}
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="../admin/">Admin</a>
                {% if request.user.is_authenticated and request.user.is_staff%}
                <a class="nav-link" href="/api/">API</a>
                <a class="nav-link" href="create/">Agregar Vehículo</a>   
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    {% block content %}
    {%endblock%}

</body>
</html>