{% extends 'core/base.html' %}
    {% block content %}
    <h1>Agregar vehículo</h1>
    <form method="post">
        {%csrf_token%}
        <div>
            <label for="marca">marca:</label>
            <input type="text" name="marca"required>
        </div>
        <div>
            <label for="modelo">modelo:</label>
            <input type="text" name="modelo"required>
        </div>
        <div>
            <label for="año">año:</label>
            <input type="number" name="año"required>
        </div>
        <div>
            <label for="kilometraje">kilometraje:</label>
            <input type="number" name="kilometraje"required>
        </div>
        <div>
            <label for="precio">precio:</label>
            <input type="number" name="precio"required>
        </div>
        <div>
            <label for="es_nuevo">¿Es nuevo?</label>
            <input type="checkbox"name="es_nuevo"required>
        </div>
        <input type="submit" value="Guardar">
    </form>
    <a href="{% url 'core:lista_vehiculo' %}">Volver a la lista de vehiculos</a>
{%endblock%}