{% extends 'core/base.html' %}
{%block content%}
    <h1>Lista de vehículos</h1>
    <table>
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Kilometraje</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            {%for vehiculo in vehiculos%}
            <tr>
                <td>{{vehiculo.marca}}</td>
                <td>{{vehiculo.modelo}}</td>
                <td>{{vehiculo.año}}</td>
                <td>{{vehiculo.kilometraje}}</td>
                <td>{{vehiculo.precio}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <a href="create/">Agregar Vehículo</a>
{%endblock%}