{% extends 'core/base.html' %}
{%load static%}
{%block content%}

<h1>Últimos modelos</h1>
<div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-6">
          {% for vehiculo in vehiculos %}
          {%if vehiculo.es_nuevo == True%}
          <div class="col mb-4">
            <div class="card h-100">
              <img src="{% static 'core/'|add:vehiculo.marca|add:vehiculo.modelo|cut:" "|add:'.png' %}" alt="Imagen" onerror="this.src='{% static 'core/interrogacion.png' %}'" class="img-fluid carta-imagen">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ vehiculo.precio }} CLP</li>
              <li class="list-group-item">{{ vehiculo.marca }} {{ vehiculo.modelo}} {{ vehiculo.año}}</li>
              <li class="list-group-item">{{ vehiculo.kilometraje }} kilómetros</li>
            </ul>
            </div>
          </div>
          {%endif%}
          {% endfor %}
        </div>
      </div>

<h1> Modelos antiguos </h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-6">
    {% for vehiculo in vehiculos %}
    {%if vehiculo.es_nuevo == False%}
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{% static 'core/'|add:vehiculo.marca|add:vehiculo.modelo|cut:" "|add:'.png' %}" alt="Imagen" onerror="this.src='{% static 'core/interrogacion.png' %}'" class="img-fluid carta-imagen">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ vehiculo.precio }} CLP</li>
          <li class="list-group-item">{{ vehiculo.marca }} {{ vehiculo.modelo}} {{ vehiculo.año}}</li>
          <li class="list-group-item">{{ vehiculo.kilometraje }} kilómetros</li>
        </ul>
      </div>
    </div>
    {%endif%}
    {% endfor %}
  </div>
</div>
{%endblock%}